<!DOCTYPE html>
<html lang="en">
	<head>
    	<!-- Start Meta -->
    	<meta charset="utf-8">
    	<meta name="description" content="<!-- replace -->">
    	<meta name="keywords" content="<!-- replace -->">
		<!-- End Meta -->
		
		<title>SMITE Charts |</title>
		
		<!-- external CSS link -->
		<link rel="stylesheet" href="../css/reset.css">
		<!-- <link rel="stylesheet" type="text/css" href="../css/skeleton.css"> -->
		<link rel="stylesheet" href="../css/bootstrap.css">

		<!-- <link rel="stylesheet" href="../css/font-awesome.css"> -->
		<link rel="stylesheet" href="../css/style.css">
		<!-- End CSS -->
	</head>
	<body>
	<div class="body-wrapper" >
			<header class="container-fluid nav margin-bottom" id="">
			<div class="container">
				<h2 class="inline-block"><span class="semi-bold">SMITE</span> Charts</h2>
				<nav class="nav-menu align-right" id="">
					<ul class="" id="">
						<a href=""><li class="" id="stats-nav-link">God Stats</li></a>
						<a href=""><li class="" id="about-nav-link">About</li></a>
						<li class="" id=""></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="container-fluid ">
			<div class="row title-container">
				<div>
					
				</div>
					
			</div>
				
		</div>	
		</div>
		<footer class="" id="">
			<p>Made with passion and love in NYC.</p>
		</div>
		</footer>

	<!-- javascript -->
		<script src="../js/jquery-1.11.3.js"></script>
		<!-- <script  src="js/zepto.js"></script> -->
		<script src="../js/velocity.min.js"></script>
		<script src="../js/bootstrap.js"></script>
		<script src="../js/Chart.js"></script>
		<script src="../js/main.js"></script>
		<!-- End JS -->

	</body>
</html>