<!DOCTYPE html>
<html lang="en">
	<head>
    	<!-- Start Meta -->
    	<meta charset="utf-8">
    	<meta name="description" content="<!-- replace -->">
    	<meta name="keywords" content="<!-- replace -->">
		<!-- End Meta -->
		
		<title></title>
		
		<!-- external CSS link -->
		<link rel="stylesheet" href="../css/reset.css">
		<!-- <link rel="stylesheet" type="text/css" href="../css/skeleton.css"> -->
		<link rel="stylesheet" href="../css/bootstrap.css">

		<!-- <link rel="stylesheet" href="../css/font-awesome.css"> -->
		<link rel="stylesheet" href="../css/style.css">
		<!-- End CSS -->
	</head>
		<body class="wrapper" id="" >
					<div class="formfield container padding-right margin-bottom">
						<div class="row">
							<h6 class="sub-header">Filters</h6>
									<ul class="">
        								<li class="all">All </li>
        								<li>|</li>
        								<li class="japanese">  Japanese</li>
        								<li class="hindu">Hindu</li>
        								<li class="mayan">Mayan</li>
        								<li class="egyptian">Egyptian</li>
        								<li class="roman">Roman</li>
        								<li class="greek">Greek</li>
        								<li class="norse">Norse</li>
        								<li class="chinese">Chinese</li>
        								<li>|</li>
        								<li class="mage">Mage</li>
        								<li class="warrior">Warrior</li>
        								<li class="hunter">Hunter</li>
        								<li class="guardian">Guardian</li>
        								<li class="assassin">Assassin</li>
        								<li>|</li>
        								<li class="melee">Melee</li>
        								<li class="range">Range</li>
        							</ul>
							</div>
						</div>
<div class="container desktop-layout">
	<div class="row padding-left">
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>	
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>	
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
		<div class="col-md-1 col-sm-2 col-xs-3 godselection">
			<img class="godpic" src="">
			<p class="title"></p>
		</div>
	</div>	
</div>

		<!-- javascript -->
		<script src="../js/jquery-1.11.3.js"></script>
		<!-- <script  src="js/zepto.js"></script> -->
		<script src="../js/velocity.min.js"></script>
		<script src="../js/bootstrap.js"></script>
		<script src="../js/Chart.js"></script>
		<script src="../js/main.js"></script>
		<!-- End JS -->

	</body>
</html>